
body {
      font-family: Arial, sans-serif;
      background: #f4f4f9;
      display: flex;
      justify-content: center;
      align-items: center;
      min-height: 100vh;
      margin: 0;
    }


.container{
    background: white;
      padding: 20px 30px;
      border-radius: 12px;
      box-shadow: 0 4px 8px rgba(0,0,0,0.2);
      max-width: 400px;
      width: 100%;
      text-align: center;
      background-color:rgb(111, 123, 128)
}
h1{
    text-align: center;
    color: #333;
}

#quiz p {
    font-size: 18px;
    font-weight: bold;
}

label {
    display: block;
    background: #f0f0f0;
    padding: 8px;
    margin: 6px 0;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s;
}

label:hover {
    background: #dce8ff;
}

input[type="radio"] {
    margin-right: 10px;
}

button {
    margin-top: 15px;
    padding: 10px 20px;
    font-size: 16px;
    background: #4CAF50;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background: #45a049;
}

#result {
    font-size: 20px;
    font-weight: bold;
    margin-top: 20px;
    color: #222;
}